body {
    background-color: #fbfefb;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

a, nav button {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #000;
    transition: .4s;
    font-size: 1em;
    cursor: pointer;
}

a:hover, nav button:hover {
    color: #bbb;
}

form {
    max-width: 35%;
    margin: 0 auto;
}

button {
    background-color: #1a8918;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    font-weight: bold;
    border: none;
    padding: 8px 10px;
    font-size: 1em;
}

.btn.btn-dark {
    background-color: #000;
    border-radius: 0;
}

.btn.btn-outline {
    background-color: transparent;
    border-radius: 0;
    color: #000;
    border: 1px solid #000;
    padding: 7px 30px;
}

.btn:hover {
    background-color: #146925;
    color: #f0eaea;
}

.btn.btn-outline:hover {
    background-color: #000;
}

.btn.btn-danger:hover {
    background-color: #DC3545;
}

button[disabled] {
    background-color: #AAA;
}

.error {
    color: #721c24;
    background-color: #fbfefb;
    border: #fbfefb;
    padding: 5px;
    border-radius: 5px;
}

.container {
    min-height: 60vh;
    margin-bottom: 5em;
}

.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.dndflow .dndnode.input {
    border-color: #0041d0;
}

.dndflow .dndnode.output {
    border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.dndflow .selectall {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
}